<div class="column is-one-third">
  <div class="card">
    <div class="title">
      <%= customer.fullname%>
    </div>
    <div class="card-content">
      <p class="card-footer-item">
        <%= image_tag customer.image %>
      </p>
      <p> <%= customer.phoneNumber %></p>
      <p> <%= customer.email %> </p>
      <br>
      <strong> Notes: </strong>
      <p><%= customer.notes %></p>
    </div>
  </div>
</div>